.single-movie-info {
  padding-top: 30px;

  .imgList-fillholder {
    width: 185px;
    height: 105px;
    margin: 0 15px 10px;
  }

  .images {
    .title {
      display: block;
      margin-bottom: 20px;
      font-size: 22px;
      color: #fff;
      font-weight: bold;
      width: 100%;
    }

    .image {
      margin: 0 15px 30px;
      width: 185px;
      height: 105px;
      position: relative;
      overflow: hidden;
      border-radius: 4px;
      background: #262626;
      img {
        &.img-loaded {
          transform: scale(1);
          opacity: 1;
        }
      }
    }
    .images-inner {
      display: flex;
      flex-wrap: wrap;
    }
  }

  @media screen and (min-width: 1440px) {
    .pswp-thumbnail {
      width: 210px !important;
      height: 120px !important;
      margin: 0 10px 30px !important;
    }

    .imgList-fillholder {
      width: 210px !important;
      height: 120px !important;
      margin: 0 10px 30px !important;
    }
  }

  @media screen and (max-width: 1279px) {
    .pswp-thumbnails {
      margin: 0 !important;
    }

    .pswp-thumbnail {
      width: 160px !important;
      height: 95px !important;
      margin: 0 0 30px !important;
    }

    .imgList-fillholder {
      width: 160px !important;
      height: 90px !important;
      margin: 0 0 30px !important;
    }
  }
}
