.movie-recommendations {
  .title {
    font-size: 28px;
    color: #fff;
    text-transform: uppercase;
    margin-top: 100px;
    margin-bottom: 5px;
    font-family: "Montserrat", sans-serif;
    margin-left: 6.5%;
  }

  @media screen and (max-width: 1279px) {
    .title {
      margin-left: 40px;
    }
  }
}
.recommendations {
  position: relative;
}
