.movies-inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.movie-fillholder {
  width: 185px;
  margin: 0 33px;
  margin-bottom: 30px;
  position: relative;
}

.movies-list-container {
  display: flex;
  flex: 1;
  height: 100%;
  justify-content: center;
  flex-direction: column;
}
