.container {
  max-width: 1200px;
  margin: auto;
  padding-left: 15px;
  padding-right: 15px;
}

header {
  background: #213455;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  width: 100%;
  .logo {
    cursor: pointer !important;
    text-decoration: none;
    display: block;
    width: 300px;
    span {
      padding: 12px 15px;
      padding-left: 0;
      border-radius: 5px;
      font-size: 30px;
      color: #fff;
      text-transform: uppercase;
      letter-spacing: 4px;
      font-weight: 700;
    }
  }
  .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 15px 0;
    div {
      flex: 0 50%;
    }
    .languages {
      z-index: 100;
      flex: 0 60px;
      width: 60px;
      text-transform: uppercase;
      cursor: pointer;
      text-align: center;
      position: relative;
      div {
        line-height: 40px;
        font-size: 17px !important;
        margin: 0px 0;
        &:hover {
          background-color: rgba(0, 0, 0, 0.2);
        }
      }
      span {
        font-size: 14px;
        color: #fff;
        border: 1px solid #fff;
        border-radius: 3px;
        text-decoration: none;
        padding: 3px 6px;
        font-weight: 600;
        text-transform: uppercase;
        transition: all 0.4s ease;
        cursor: pointer;
        user-select: none;
        display: inline-block;
        width: 25px;
        line-height: 20px;
      }
      ul {
        position: absolute;
        background: #fff;
        width: 60px;
        padding: 5px 0;
        margin: 0;
        list-style: none;
        top: 50px;
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
        visibility: hidden;
        opacity: 0;
        transition: all 0.4s ease;
        transform: translateY(-10px);
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
        &:before {
          content: "";
          position: absolute;
          top: -6px;
          left: 0;
          right: 0;
          margin: auto;
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 0 6px 6px 6px;
          border-color: transparent transparent #fff transparent;
        }
        li {
          a {
            padding: 8px;
            display: block;
            text-decoration: none;
            color: #000000;
            font-size: 14px !important;
            text-transform: uppercase;
            &.active {
              font-weight: 600;
            }
          }
        }
      }
      &:hover {
        ul {
          visibility: visible;
          opacity: 1;
          transform: translateY(0);
        }
      }
    }
  }
  .header-search-field {
    background-color: #fff;
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    min-height: 40px;
    align-items: center;
    padding-left: 16px;
    padding-right: 5px;
    border-radius: 3px;
    box-sizing: border-box;
    justify-content: space-between;
    max-width: 550px;
    input {
      border: 0;
      outline: none;
      width: 100%;
      height: 40px;
      margin: 0;
      padding: 0;
      font-size: 15px;
      &::-webkit-input-placeholder {
        color: #aaa;
      }
      &::-moz-placeholder {
        color: #aaa;
      }
      &:-moz-placeholder {
        color: #aaa;
      }
      &:-ms-input-placeholder {
        color: #aaa;
      }
    }
    .search-btn {
      // background-image: url("data:image/svg+xml,%3C?xml version='1.0' encoding='UTF-8'?%3E %3Csvg width='16px' height='16px' viewBox='0 0 16 16' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E %3C!-- Generator: Sketch 47 (45396) - http://www.bohemiancoding.com/sketch --%3E %3Ctitle%3Esearch%3C/title%3E %3Cdesc%3ECreated with Sketch.%3C/desc%3E %3Cdefs%3E%3C/defs%3E %3Cg id='new' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E %3Cg id='desktop-header-states' transform='translate(-790.000000, -205.000000)'%3E %3Cg id='Default' transform='translate(215.000000, 179.000000)'%3E %3Cg id='search' transform='translate(245.000000, 16.000000)'%3E %3Cg transform='translate(282.000000, 6.000000)'%3E %3Cg transform='translate(44.000000, 0.000000)'%3E %3Cpolygon points='0 0 24 0 24 24 0 24'%3E%3C/polygon%3E %3Cpath d='M14.8938098,13.4722306 L20,18.5 L18.5,20 L13.4722306,14.8938098 C12.4922065,15.5904094 11.2939357,16 10,16 C6.6862915,16 4,13.3137085 4,10 C4,6.6862915 6.6862915,4 10,4 C13.3137085,4 16,6.6862915 16,10 C16,11.2939357 15.5904094,12.4922065 14.8938098,13.4722306 Z M10,14 C12.209139,14 14,12.209139 14,10 C14,7.790861 12.209139,6 10,6 C7.790861,6 6,7.790861 6,10 C6,12.209139 7.790861,14 10,14 Z' fill='%23000000' fill-rule='nonzero'%3E%3C/path%3E %3C/g%3E %3C/g%3E %3C/g%3E %3C/g%3E %3C/g%3E %3C/g%3E %3C/svg%3E");
      background-size: 16px;
      background-position: center;
      background-repeat: no-repeat;
      width: 40px;
      height: 40px;
      border: 0;
      outline: none;
      cursor: pointer;
      background-color: #fff;
    }
  }
}
header .content .languages span:hover,
header .content .languages:hover span {
  background: #fff;
  color: #000;
}
