body {
  background: #141414;
  font-family: "Open Sans", sans-serif;
}

.app-container {
  display: flex;
  flex: 1;
  width: 100%;
  height: calc(100vh - 70px);
  position: relative;
  flex-direction: row;
}

.fluid-container {
  max-width: 1400px;
  flex: 1;
  justify-content: center;
}

.wrapper {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: 10;
}

.scroll-view {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.scroll-view::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
}

.scroll-view::-webkit-scrollbar {
  width: 10px;
  background-color: #f5f5f5;
}

.scroll-view::-webkit-scrollbar-thumb {
  background-color: #0ae;

  background-image: -webkit-gradient(
    linear,
    0 0,
    0 100%,
    color-stop(0.5, rgba(255, 255, 255, 0.2)),
    color-stop(0.5, transparent),
    to(transparent)
  );
}

.generic-background {
  background: url("../images/bg5.jpg");
  background-position: center;
  background-size: cover;
}

.pagination-icon {
  padding-top: 3px;
}

.pagination-container {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
}

ul.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination {
  display: inline-block;
  padding: 0;
  list-style: none;
}

.pagination li {
  display: inline-block;
}

.pagination-border {
  border: 1px solid white;
  border-radius: 2px;
}

.pagination .disabled .pagination-border {
  border: 1px solid #c0c0c073;
  color: #c0c0c073;
  cursor: not-allowed !important;
}

.pagination li a {
  display: block;
  width: 30px;
  height: 30px;
  color: #aaa;
  text-decoration: none;
  line-height: 30px;
  font-size: 14px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  margin: 0 10px;
}

.pagination li.active a {
  background: #3bb33b;
  border-radius: 50%;
  color: #fff;
}

.loading-box {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 100;
}

.loading-box:before {
  content: "";
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 70px;
  height: 70px;
  border: 4px solid #ffffff;
  border-radius: 50%;
  border-top-color: rgb(90, 90, 90);
  animation: spin 1s ease-in-out infinite;
  display: block;
  z-index: 11;
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes fade {
  to {
    opacity: 0.5;
  }
}
@-webkit-keyframes spin {
  to {
    opacity: 1;
  }
}

.pswp-gallery .pswp-thumbnails {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  justify-content: space-between;
}

.flex-fill::after {
  display: flex;
  content: "";
  flex: auto;
}

.pswp-gallery .pswp-thumbnails .pswp-thumbnail {
  margin: 0 15px 30px;
  width: 185px;
  height: 105px;
  position: relative;
  overflow: hidden;
  border-radius: 4px;
  background: #262626;
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.25);
  cursor: pointer;
}

.pswp-gallery .pswp-thumbnails .pswp-thumbnail img {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: all 0.4s ease;
}

.pswp-gallery .pswp-thumbnails .pswp-thumbnail:hover img {
  transform: scale(1.05);
}
